html{
    padding: 0px;
    margin: 0px;
}

body{
    padding:0px;
    margin:0px;
}

.header{
    height: 60px;
    padding: 20px;
    background-color: #ff6d2c;
}

ul{
    float:right;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

h1{
    float:left;
    margin: 0px;
}

li{
    float: left;
    margin-left: 20px;
}

a{
    text-decoration:none;
    color: #000000;
}

.content{
    width: 70%;
    float: left;
    background-color: #eee;
    min-height: 500px;
}

.sidebar{
    width: 30%;
    float: left;
    background-color: #333;
    color: #fff;
    min-height: 500px;
}

p{
    margin: 20px;
}

.blog-post{
   margin: 10px;
   background-color: #fff;
   border-color: #bbb;
   border-style: solid;
   border-width: 1px;
   border-radius: 3px;
}

img{
    float:left;
    margin: 10px;
}


